doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css')

    script(src="/vendor/bower_components/jquery/dist/jquery.js")
    script(src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js")

  body
    include partials/menu
    block content
